@font-face {
    font-family: "Montserrat-Black";
    src: url("fonts/Montserrat-Black.ttf");
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("fonts/Montserrat-Light.ttf");
}

h1,
h2,
h3 {
    font-family: "Montserrat-Black";
    font-size: initial;
    color: grey;
    text-decoration-line: none;
}

h4,
h5,
h6,
.nav-item {
    font-family: "Montserrat-Light";
    font-size: small;
    color: grey;
    text-decoration-line: none;
}

body {
    background: whitesmoke;
    text-align: center;
}

.form-signin,
.form-control {
    /* width: 100%;
  max-width: 330px;
  padding: 15px; */
    margin: auto;
    font-size: small;
}

th {
    font-family: "Montserrat-Light";
    font-size: small;
}

td,
.btn-light,
.btn-warning {
    font-family: "Montserrat-Light";
    font-size: xx-small;
}

.td-cell-blue {
    background-color: yellowgreen;
}

table {
    border-collapse: separate;
    padding-right: 10 px;
}

.table-responsive {
    font-family: "Montserrat-Light";
}

.th-table {
    text-align: center;
    font-size: xx-small;
    width: 600px;
}

th,
td {
    width: 100px;
    overflow: hidden;
}


/* Texts used in HOME PAGE */

.p,
.cite:hover {
    text-decoration-line: none;
}

.text-initial {
    font-family: "Montserrat-Light";
    font-size: small;
    text-align: justify;
    text-decoration-line: none;
}

.text-quote {
    font-family: "Montserrat-Light";
    font-size: small;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    font-style: oblique;
    text-decoration-line: none;
}

.cite {
    font-family: "Montserrat-Light";
    font-size: small;
    text-align: justify;
    text-decoration-line: none;
}

.home-link {
    font-family: "Montserrat-Light";
    font-size: small;
    color: grey;
    text-decoration-line: none;
}

.home-link :hover {
    color: black;
    text-decoration-line: none;
}

.text-initial-li {
    font-family: "Montserrat-Light";
    font-size: small;
    text-align: left;
    text-decoration-line: none;
    color: grey;
}

.text-initial-li :hover {
    color: black;
    text-decoration-line: none;
}

.a:hover,
.cite:hover,
.p:hover,
.strong:hover {
    text-decoration-line: none;
}